$primary-background: #c2dafe;
$secondary-background: #f5f9ff;
$third-background: #97c0fd;
$input-background: #ffffff;
$text-primary: #585375;
$text-secondary: #fff;
$text-error: #d90000;
$button-primary: #085ede;
$button-third: #f5f9ff;
$button-danger: #DC143C;
$base-border-radius: 12px;
$input-border: #9ca3ad;
$text-success: #3CB371;
