$primary-background: #c2dafe;
$secondary-background: #f5f9ff;
$third-background: #97c0fd;
$text-primary: #585375;
$text-secondary: #fff;
$text-error: #d90000;
$button-primary: #085ede;
$button-third: #f5f9ff;
$base-border-radius: 12px;
