@use 'variables' as *;

.chat-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .chat-header, .chat-bottom {
    display: flex;
    align-items: center;
    height: 70px;
    overflow: hidden;
    padding: 4px 12px;
    justify-content: stretch;
    flex-shrink: 0;

    .form-field {
      margin-bottom: 0;
    }
  }

  .chat-left {
    width: 30%;
    max-width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    background: $third-background;

    .chat-header {
      justify-content: space-around;
      padding: 0 12px;
      border-bottom: 1px solid $secondary-background;
    }

    .chat-list {
      width: 100%;
      overflow: hidden;
      flex-grow: 2;

      ul {
        height: 100%;
        overflow: scroll;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          border-bottom: 1px solid $secondary-background;
          padding: 8px 12px;

          &.chat-list--active {
            background: $primary-background;
          }
        }
      }
    }

    .chat-bottom {
      border-top: 1px solid $secondary-background;
      justify-content: space-between;

      button {
        margin: 0 4px;
      }
    }
  }

  .chat-right {
    background: #f5f9ff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .chat-header {
      border-bottom: 1px solid $primary-background;
      display: flex;
      justify-content: flex-end;
    }

    .chat-massages {
      flex-grow: 2;
      padding: 10px 16px;
      overflow: hidden;

      &__content {
        height: 100%;
        overflow: scroll;
      }
    }

    .chat-bottom {
      border-top: 1px solid $primary-background;

      .form-controls {
        width: 100%;
      }
    }

    .avatar-image {
      margin-left: 20px;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.chat-user {
  &_title {
    width: auto;
    max-width: 100%;
    padding-left: 12px;
  }

  &:hover {
    .chat-user_title {
      color: $text-secondary;
    }
  }
}

.chat-loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.chat-user_avatar, .message-item_avatar {
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.message-item {
  width: 70%;
  height: auto;
  margin-bottom: 20px;
  display: flex;

  &_message {
    border-radius: $base-border-radius;
    padding: 8px 16px;
    color: $text-primary;
  }

  &_avatar {
    margin: 0 12px;
    flex-shrink: 0;
  }

  &--self {
    float: right;
    flex-flow: row-reverse;

    .message-item_message {
      background: $third-background;
    }
  }

  &--companion {
    float: left;

    .message-item_message {
      background: $primary-background;
    }
  }
}
