@use 'variables' as *;

.profile-page {
  height: auto;
  .page_content {
    position: relative;
    padding: 40px;
  }

  .chat-logout {
    min-width: 160px;
    margin-top: 50px;
  }

  .avatar {
    margin-top: 20px;
    margin-bottom: 40px;

    &-image {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 50%;
    }

    &-upload {
      margin-top: 16px;
      width: 100%;
    }
  }

  .return-chat {
    position: absolute;
    top: 15px;
    right: 0;
    width: 40px;
  }

  .user-info, .user-password {
    font-size: 12px;

    .form-field {
      margin-bottom: 6px;

      strong {
        flex-grow: 2;
        margin-right: 8px;
        width: 100%;
      }
    }

    button {
      margin-top: 16px;
    }
  }

  .user-password {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid $primary-background;
  }
}
